*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
body {
  background: #f6f5f7;
  font-family: "Montserrat", sans-serif;
}

.header {
  width: 100%;
  background-color: #5900ff;
  padding: 12px;
  color: white;

  // .header__name

  &__name {
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
  }
}
.container {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
.login {
  width: 320px;
  padding: 40px;
  border-radius: 10px 0px 0px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  // .login__input
  &__title {
    font-size: 40px;
    margin-bottom: 10px;
  }
  &__descr {
    margin-bottom: 14px;
  }
  &__input {
    margin: 0 auto;
    margin-bottom: 12px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.096);
    padding: 10px;
    border: 0;
  }

  &__submit {
    background-color: transparent;
    border: 1px solid black;
    padding: 10px 60px;
    border-radius: 10px;
    width: max-content;
    margin: 0 auto;
    margin-top: 12px;
  }
}

.hero-container {
  background-color: #5900ff;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 0px 10px 10px 0px;
  width: 320px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  &__title {
    margin-bottom: 10px;
  }
}

.image-mosaic {
  display: grid;
  margin-top: 20px;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 3rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
.footer-form {
  // .footer-form__laber
  padding: 10px;
  text-align: center;
  background-color: #5900ff;
  color: #fff;
}
